.education{
    line-height: 2;
}

.container1 {
    background-color: #6295A2;
    width:100%;
    padding-bottom:50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
     
}
.education{
    background-color: #538392;
    border-radius: 20px;
    padding: 20px; 
    /* display:flex;
    flex-direction: column;
    justify-content: space-between; */
    text-align: left;
    margin-right: 20px;
}

.container1 h2 {
    padding-top: 90px;
    margin-right: 20px
}

.container1 img{
    width: 400px;
    padding-top: 70px;
   
    border-radius: 50%;
}


.container2{
    line-height: 2;
    width: 100%;
    background-color: #538392;
    padding-bottom: 10px;
}

.skill{
    background-color: #6295A2;
    border-radius: 20px;
    padding: 20px; 
    max-width:300px;
    margin: auto;
    /* text-align: left; */
}

.publication{
    background-color: #6295A2;
    border-radius: 20px;
    padding: 20px; 
    text-align: left;
}
.container2>div{
    width:70%;
    margin:auto;
    /* margin:auto; Box is horizontally centered */
}
.container2 a{
    color: black;
}
.container3 img{
   height:600px;
   
    padding-top: 70px;
    


}
.container3{
    background-color: #6295A2;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
}
.container3>div{
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* .container3 h1{
   margin-top: 0px;
   padding-top: 40px;
} */

.container3 a{
    background-color: #B3E2A7;
    border-radius: 5px;
    padding: 5px;
    color: #6295A2;
    text-decoration: none;
}

.contact{
    background-color: #538392;
    border-radius: 20px;
    padding: 20px; 
    margin-top: 50px;
    margin-left: 20px;
    /* width: 350px; */
}

@media(max-width:598px){
    .container1 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
         
    }  

    .container1 img{
        width:300px;
    }
    .education{

        margin-right: 0px;
    }

    .container1 h2 {
        
        margin-right: 0px
    }

    .container2>div{
        width:90%;
        margin:auto;
    }
}

@media(max-width:1377px){
    .container3>div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .container3 img{
        height: 200px;
        width:300px;
        border-radius: 15%;
    }
}

@media(max-width:632px){
    .contact{
        width: 350px;
        padding: 20px 0px;
        margin: auto;
    }
    
}